<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/output.css" rel="stylesheet">
    <link href="static/css/main.css" rel="stylesheet">

    <!-- Font Family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/fav/favicon-16x16.png">
    <link rel="manifest" href="/static/img/fav/site.webmanifest">
    <meta name="google-site-verification" content="U8pQQ_ALHuXILBmasZeqmSdfAZo38ToiVoqaFpyXqgw" />
    <title>{{title}}</title>
</head>

<body id='contact' class="w-screen h-screen m-auto bg-object-cover overflow-x-hidden xl:overflow-hidden"> 
    
    <div>

        <nav class="px-4 lg:px-6 py-2.5">
            <div class="flex flex-wrap justify-between items-start mx-auto max-w-screen-xl object-fit">
                <a href={{url_for('arb.form', lang=LANG)}} class="flex items-center">
                    <svg  class="mr-3 h-6 sm:h-9" style="fill: rgb(30 27 75);" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                        <path d="M640 264v-16c0-8.84-7.16-16-16-16H344v-40h72c17.67 0 32-14.33 32-32V32c0-17.67-14.33-32-32-32H224c-17.67 0-32 14.33-32 32v128c0 17.67 14.33 32 32 32h72v40H16c-8.84 0-16 7.16-16 16v16c0 8.84 7.16 16 16 16h104v40H64c-17.67 0-32 14.33-32 32v128c0 17.67 14.33 32 32 32h160c17.67 0 32-14.33 32-32V352c0-17.67-14.33-32-32-32h-56v-40h304v40h-56c-17.67 0-32 14.33-32 32v128c0 17.67 14.33 32 32 32h160c17.67 0 32-14.33 32-32V352c0-17.67-14.33-32-32-32h-56v-40h104c8.84 0 16-7.16 16-16zM256 128V64h128v64H256zm-64 320H96v-64h96v64zm352 0h-96v-64h96v64z"/>
                    </svg>
                </a>
            <div>
            
            <div class="relative inline-block group">
                <div class="flex flex-wrap justify-end items-start mx-auto max-w-screen-xl">
                    <button id="lang-options" class="flex items-center focus:outline-none">
                        <img src="../static/img/{{LANG}}.png" class="mr-3 w-9 h-9 object-fit rounded-full shadow-lg" />
                    </button>
                </div>
                
                <!-- Lang Options -->
                <div id="lang-dropdown" class="right-0 mt-2 absolute z-10 hidden" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                    <div class="py-2">
                        {% for lang in languages %}
                            <a href={{url_for('arb.form', lang=lang)}}><img id={{lang}} onclick="changeLang()" alt={{lang}} src="../static/img/{{lang}}.png" class="mt-2 mr-3 w-9 h-9 object-fit rounded-full shadow-lg hover:brightness-75" /></a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </nav>

        <div id='desc' class="flex flex-wrap justify-center gap-2 p-4 bg-bottom md:items-center">
            <div id='form' class="h-fit p-6 m-6 bg-white rounded-2xl shadow md:p-12">{% block form %} {% endblock %}</div>
            <div id='completed' class="hidden h-fit p-6 m-6 bg-white rounded-2xl shadow max-w-sm md:p-12">{% include 'arb-completed.html' %}</div>
            <div id='details' class="text-blue-950 md:p-6 md:m-6 ">{% include 'arb-details.html' %}</div>
        </div>

        {% include 'arb-modal.html' %}
    </div>

</body>

<script src="/static/js/arbMain.js"></script>
<script src="https://unpkg.com/flowbite@1.4.4/dist/flowbite.js"></script>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' type='text/javascript'></script>`
</html>
